@use "@rempi-ui/core/src/config/rempi-variables" as rempiVars;

@keyframes slideOpenVertical {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideCloseVertical {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.rempi-collapsible {
  
  &__trigger {}

  &__content {
    overflow: hidden;

    &--vertical {
      &[data-state="open"] {
        animation: slideOpenVertical 300ms ease-out;
      }
      &[data-state="closed"] {
        animation: slideCloseVertical 300ms ease-out;
      }
    }
  }
}