@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.rounded-button {
  padding: rempiVars.$spaces-3
}

.image-trigger {
  cursor: pointer;
  border-radius: rempiVars.$radiis-pill;
  display: inline-block;
}

.image {
  display: block;
  border-radius: rempiVars.$radiis-pill;

  &--normal {
    width: rempiVars.$spaces-11;
    height: rempiVars.$spaces-11;
  }

  &--large {
    width: rempiVars.$spaces-15;
    height: rempiVars.$spaces-15;
  }
}

.img-aspect-ratio {
  border-radius: rempiVars.$radiis-2;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.b-dashed {
  border: calc(rempiVars.$border-widths-1 * 2) dashed rempiVars.$colors-primary-12,
}

.ml-auto {
  margin-left: auto;
}

.margin-bt-8 {
  margin: rempiVars.$spaces-8 0
}

.padding-8 {
  padding: rempiVars.$spaces-8
}

.gap-4 {
  gap: rempiVars.$spaces-4
}

.gap-2 {
  gap: rempiVars.$spaces-2
}

.gap-1 {
  gap: rempiVars.$spaces-1
}

.max-w-300 {
  max-width: 300px
}

.max-w-600 {
  max-width: 600px
}

.flex-c-1 {
  * {
    flex: 1;
  }
}

.min-h-300 {
  height: 300px
}