@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.rounded-button {
  padding: rempiVars.$spaces-3
}

.image-trigger {
  cursor: pointer;
  border-radius: rempiVars.$radiis-pill;
  display: inline-block;
}

.image {
  display: block;
  border-radius: rempiVars.$radiis-pill;

  &--normal {
    width: rempiVars.$spaces-11;
    height: rempiVars.$spaces-11;
  }

  &--large {
    width: rempiVars.$spaces-15;
    height: rempiVars.$spaces-15;
  }
}

.img-aspect-ratio {
  border-radius: rempiVars.$radiis-2;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.rounded-md {
  border-radius: rempiVars.$radiis-2;
}

.border {
  border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;
}

.b-dashed {
  border: calc(rempiVars.$border-widths-1 * 2) dashed rempiVars.$colors-primary-12,
}

.ml-auto {
  margin-left: auto;
}

.margin-bt-8 {
  margin: rempiVars.$spaces-8 0
}

.size-2 {
  height: rempiVars.$spaces-2;
  width: rempiVars.$spaces-2;
}

.pill {
  border-radius: rempiVars.$radiis-pill;
}

.info {
  background-color: rempiVars.$colors-info-9;
}

.margin-b-4 {
  margin-bottom: rempiVars.$spaces-4;

  &--last-child-0 {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.padding-8 {
  padding: rempiVars.$spaces-8
}

.padding-6 {
  padding: rempiVars.$spaces-6
}

.padding-4 {
  padding: rempiVars.$spaces-4
}

.padding-b-4 {
  padding-bottom: rempiVars.$spaces-4;

  &--last-child-0 {
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.bordered {
  border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;
  border-radius: rempiVars.$radiis-3;
}

.high-contrast {
  color: rempiVars.$colors-primary-12;
}

.translate-y-1 {
  transform: translate(0, rempiVars.$spaces-1)
}

.gap-4 {
  gap: rempiVars.$spaces-4
}

.gap-3 {
  gap: rempiVars.$spaces-3
}

.gap-2 {
  gap: rempiVars.$spaces-2
}

.gap-1 {
  gap: rempiVars.$spaces-1
}

.max-w-300 {
  max-width: 300px
}

.max-w-600 {
  max-width: 600px
}

.flex-c-1 {
  * {
    flex: 1;
  }
}

.min-h-300 {
  height: 300px
}

.mr-3 {
  margin-right: rempiVars.$spaces-3;
}

.full-width {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.min-full-width {
  min-width: 100%;
}

//

.list {
  display: grid;
  padding: rempiVars.$spaces-5;
  margin: 0;
  column-gap: rempiVars.$spaces-2;
  list-style: none;
}

@media only screen and (min-width: 600px) {
  .list.one {
    width: 500px;
    grid-template-columns: 0.75fr 1fr;
  }

  .list.two {
    width: 600px;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
  }
}

.list-item-link {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: rempiVars.$spaces-3;
  border-radius: rempiVars.$radiis-2;
  font-size: rempiVars.$font-sizes-4;
  line-height: rempiVars.$line-heights-1;
}

.list-item-link:hover {
  background-color: rempiVars.$colors-grey-3;
}

.list-item-heading {
  font-weight: rempiVars.$font-weights-3;
  line-height: rempiVars.$line-heights-2;
  margin-bottom: rempiVars.$spaces-1;
  color: rempiVars.$colors-grey-12;
}

.list-item-text {
  color: rempiVars.$colors-grey-11;
  line-height: rempiVars.$line-heights-2;
  font-weight: initial;
}

.callout {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--colors-grey3) 0%, var(--colors-primary3) 100%);
  border-radius: rempiVars.$radiis-2;
  padding: rempiVars.$spaces-6;
  text-decoration: none;
  outline: none;
  user-select: none;
}

.callout-heading {
  color: rempiVars.$colors-grey-12;
  font-size: rempiVars.$font-sizes-5;
  font-weight: rempiVars.$font-weights-3;
  line-height: rempiVars.$line-heights-2;
  margin-top: rempiVars.$spaces-4;
  margin-bottom: rempiVars.$spaces-2;
}

.callout-text {
  color: rempiVars.$colors-grey-11;
  font-size: rempiVars.$font-sizes-3;
  line-height: rempiVars.$line-heights-1;
}