@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.rempi-radio {

  &__indicator {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: rempiVars.$spaces-2;
      height: rempiVars.$spaces-2;
      border-radius: rempiVars.$radiis-pill;
    }

  }

  &__item {
    align-items: center;
    background-color: transparent;
    border-color: rempiVars.$colors-primary-11;
    border-radius: rempiVars.$radiis-pill;
    border-width: rempiVars.$border-widths-1;
    border-style: solid;
    cursor: pointer;
    display: inline-flex;
    height: calc(rempiVars.$spaces-4 + calc(rempiVars.$spaces-1 / 2));
    justify-content: center;
    line-height: 1;
    transition: background-color 300ms ease, border-color 300ms ease;
    width: calc(rempiVars.$spaces-4 + calc(rempiVars.$spaces-1 / 2));

    &[data-state="checked"] {
      border-color: rempiVars.$colors-primary-12;

      .rempi-radio__indicator::after {
        background-color: rempiVars.$colors-primary-12;
      }
    }


    &[data-disabled] {
      border-color: rempiVars.$colors-grey-8;
      cursor: not-allowed;

      &[data-state="checked"] {
        border-color: rempiVars.$colors-grey-8;

        .rempi-radio__indicator::after {
          background-color: rempiVars.$colors-primary-8;
        }
      }
    }

    &:focus,
    &:focus-visible {
      outline-color: rempiVars.$colors-info-9;
      outline-offset: 1px;
      outline-style: solid;
      outline-width: rempiVars.$border-widths-1;
      z-index: 1;
    }
  }
}