@use "@rempi-ui/core/src/config/rempi-variables" as rempiVars;

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rempi-tooltip {

  &__root {}

  &__provider {}

  &__trigger {}

  &__portal {}

  &__content {
    background-color: rempiVars.$colors-grey-2;
    border-radius: rempiVars.$radiis-2;
    color: rempiVars.$colors-grey-12;
    overflow: hidden;
    padding: rempiVars.$spaces-2;
    box-shadow: rempiVars.$shadows-1;
    border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;

    &,
    * {
      font-size: rempiVars.$font-sizes-3;
      line-height: rempiVars.$line-heights-1;
    }

    &[data-state='delayed-open'][data-side='top'] {
      animation-name: slideDownAndFade;
    }

    &[data-state='delayed-open'][data-side='right'] {
      animation-name: slideLeftAndFade;
    }

    &[data-state='delayed-open'][data-side='bottom'] {
      animation-name: slideUpAndFade;
    }

    &[data-state='delayed-open'][data-side='left'] {
      animation-name: slideRightAndFade;
    }
  }

  &__arrow {
    fill: rempiVars.$colors-grey-6;
  }
}