@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.rempi-alert-dialog {

  &__trigger {}

  &__portal {}

  &__cancel {}

  &__action {}

  &__overlay {
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    background-color: rempiVars.$colors-black-10;
    inset: 0;
    position: fixed;

    &--blured {
      backdrop-filter: blur(rempiVars.$spaces-1);
    }

  }

  &__content {
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    background-color: rempiVars.$colors-primary-2;
    box-shadow: rempiVars.$shadows-2;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 50%;
    padding: rempiVars.$spaces-6;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media (min-width: 576px) {
      border-radius: rempiVars.$radiis-2;
      display: block;
      height: auto;
      max-height: 85vh;
      width: min(90vw, 576px);
    }

    &:focus {
      outline: none;
    }
  }

  &__title {
    color: rempiVars.$colors-primary-12;
    font-size: rempiVars.$font-sizes-6;
    font-weight: rempiVars.$font-weights-3;
    margin: 0;
  }

  &__description {
    color: rempiVars.$colors-primary-11;
    font-size: rempiVars.$font-sizes-4;
    line-height: rempiVars.$line-heights-2;
    margin: rempiVars.$spaces-4 0 rempiVars.$spaces-5 0;
  }

  &__footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto 0 0 0;
    row-gap: rempiVars.$spaces-5;

    >* {
      width: 100%;
    }

    @media (min-width: 576px) {
      column-gap: rempiVars.$spaces-5;
      flex-direction: row;
      margin: 0;

      >* {
        width: auto;
      }
    }
  }
}