@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.dashboard {
  border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;
  border-radius: rempiVars.$radiis-2;

  &__header {
    border-bottom: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;
    padding: rempiVars.$spaces-3 rempiVars.$spaces-4;
    width: 100%;
  }

  &__body {
    padding: rempiVars.$spaces-6;
  }
}