@use "@rempi-ui/core/src/config/rempi-variables" as rempiVars;

.rempi-input {
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-color: rempiVars.$colors-grey-11;
  border-radius: rempiVars.$radiis-1;
  border-style: solid;
  border-width: rempiVars.$border-widths-1;
  color: rempiVars.$colors-grey-12;
  font-size: rempiVars.$font-sizes-4;
  font-weight: rempiVars.$font-weights-3;
  line-height: rempiVars.$line-heights-1;
  max-width: calc(rempiVars.$spaces-18 * 2);
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
  width: 100%;

  &--size {
    &-small {
      padding: rempiVars.$spaces-1 rempiVars.$spaces-2;
      font-size: rempiVars.$font-sizes-3;
    }

    &-standard {
      padding: rempiVars.$spaces-2 rempiVars.$spaces-3;
    }

    &-large {
      padding: rempiVars.$spaces-3 rempiVars.$spaces-6 rempiVars.$spaces-3 rempiVars.$spaces-3;
    }
  }

  &[data-disabled] {
    color: rempiVars.$colors-grey-8;
    cursor: not-allowed;
    border-color: rempiVars.$colors-grey-7;

    &::placeholder {
      color: rempiVars.$colors-grey-6;
    }
  }

  &::placeholder {
    color: rempiVars.$colors-grey-9;
  }

  &:focus-visible,
  &:focus {
    outline-color: rempiVars.$colors-info-9;
    outline-style: solid;
    outline-width: rempiVars.$border-widths-1;
    border-color: rempiVars.$colors-primary-10;
    background-color: rempiVars.$colors-primary-3;
  }
}