@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.main-section {
  max-width: calc(rempiVars.$spaces-4 * 61);
  padding: rempiVars.$spaces-12 rempiVars.$spaces-4 rempiVars.$spaces-8 rempiVars.$spaces-4;
  gap: rempiVars.$spaces-4;

  &__title {
    letter-spacing: -.05rem;
  }

  &__lead {
    max-width: calc(rempiVars.$spaces-4 * 40);
  }

  &__buttons {
    gap: rempiVars.$spaces-4;
    padding-bottom: rempiVars.$spaces-9;
  }

  &__github-icon-link {
    margin-right: rempiVars.$spaces-2;
  }

  &__start-link {
    background-color: rempiVars.$colors-primary-12 !important;
  }
}