@use "@rempi-ui/core/src/config/rempi-variables" as rempiVars;

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.rempi-popover {

  &__trigger {}

  &__content {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    background-color: rempiVars.$colors-grey-2;
    border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;
    border-radius: rempiVars.$radiis-2;
    box-shadow: rempiVars.$shadows-1;
    min-width: 220px;
    padding: rempiVars.$spaces-4;
    position: relative;
    will-change: transform, opacity;

    &:has(.rempi-popover__close-cross) {
      padding: rempiVars.$spaces-7 rempiVars.$spaces-7 rempiVars.$spaces-4 rempiVars.$spaces-4;
    }

    &[data-side='top'] {
      animation-name: slideDownAndFade;
    }

    &[data-side='right'] {
      animation-name: slideLeftAndFade;
    }

    &[data-side='bottom'] {
      animation-name: slideUpAndFade;
    }

    &[data-side='left'] {
      animation-name: slideRightAndFade;
    }
  }

  &__arrow {
    fill: rempiVars.$colors-grey-6;
  }

  &__close {
    &-cross {
      font-family: inherit;
      border-radius: rempiVars.$radiis-pill;
      height: rempiVars.$spaces-6;
      width: rempiVars.$spaces-6;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: rempiVars.$colors-primary-11;
      position: absolute;
      top: rempiVars.$spaces-1;
      right: rempiVars.$spaces-1;

      &:hover {
        background-color: rempiVars.$colors-primary-4;
      }

      &:focus-visible,
      &:focus {
        outline-color: rempiVars.$colors-info-9;
        outline-style: solid;
        outline-width: rempiVars.$border-widths-1;
      }
    }
  }

}