@use "@rempi-ui/core/src/config/rempi-variables" as rempiVars;

.rempi-menubar {

  &__root {
    background-color: rempiVars.$colors-primary-2;
    border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;
    border-radius: rempiVars.$radiis-1;
    display: flex;
    padding: rempiVars.$spaces-1;
  }

  &__trigger {
    align-items: center;
    border-radius: rempiVars.$radiis-1;
    color: rempiVars.$colors-grey-11;
    cursor: pointer;
    display: flex;
    font-weight: rempiVars.$font-weights-3;
    font-size: rempiVars.$font-sizes-4;
    gap: calc(rempiVars.$spaces-1 / 2);
    justify-content: space-between;
    line-height: rempiVars.$line-heights-1;
    outline: none;
    padding: rempiVars.$spaces-2 rempiVars.$spaces-3;
    transition: background-color 200ms ease, color 200ms ease;
    user-select: none;

    &[data-highlighted],
    &[data-state='open'] {
      color: rempiVars.$colors-grey-12;
      background-color: rempiVars.$colors-primary-4;

    }

    &[data-disabled] {
      cursor: not-allowed;
      color: rempiVars.$colors-grey-8;
    }

  }

  &__content,
  &__sub-menu__content {
    min-width: 220px;
    background-color: rempiVars.$colors-grey-2;
    border-radius: rempiVars.$radiis-2;
    overflow: hidden;
    padding: rempiVars.$spaces-2;
    box-shadow: rempiVars.$shadows-1;
    border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;

    &--condensed {

      .rempi-menubar__item,
      .rempi-menubar__checkbox-item,
      .rempi-menubar__radio-item,
      .rempi-menubar__sub-menu__trigger {
        height: rempiVars.$spaces-7;
      }
    }
  }

  &__item,
  &__checkbox-item,
  &__radio-item,
  &__sub-menu__trigger {

    &,
    * {
      font-size: rempiVars.$font-sizes-3;
      line-height: rempiVars.$line-heights-2;
      color: rempiVars.$colors-grey-11;
    }

    border-radius: rempiVars.$radiis-1;
    display: flex;
    align-items: center;
    height: rempiVars.$spaces-9;
    justify-content: space-between;
    padding: 0 rempiVars.$spaces-1 0 rempiVars.$spaces-6;
    position: relative;
    user-select: none;
    outline: none;
    transition: background-color 200ms ease,
    color 200ms ease;


    &[data-disabled] {

      &,
      * {

        color: rempiVars.$colors-grey-8;
        pointer-events: 'none';

        svg {
          stroke: rempiVars.$colors-grey-8;
        }
      }
    }

    &[data-highlighted] {
      background-color: rempiVars.$colors-grey-12;

      &,
      * {
        color: rempiVars.$colors-grey-1;

        svg {
          stroke: rempiVars.$colors-grey-1;
        }
      }
    }
  }

  &__sub-menu__trigger[data-state='open'] {
    background-color: rempiVars.$colors-grey-6;

    &,
    * {
      color: rempiVars.$colors-grey-12;

      svg {
        stroke: rempiVars.$colors-grey-12;
      }
    }
  }

  &__label {
    padding-left: rempiVars.$spaces-4;

    &,
    * {
      font-size: rempiVars.$font-sizes-2;
      line-height: rempiVars.$line-heights-2;
      color: rempiVars.$colors-grey-11;
    }
  }

  &__separator {
    height: 1px;
    background-color: rempiVars.$colors-grey-6;
    margin: rempiVars.$spaces-1;
  }

  &__item-indicator {
    position: absolute;
    left: 0;
    width: rempiVars.$spaces-6;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      stroke: rempiVars.$colors-grey-11;
      stroke-width: 3;
    }
  }

}