@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

@keyframes openning {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes closing {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

.rempi-accordion {
  border-radius: rempiVars.$radiis-3;

  &__item {
    border-bottom-width: 1px;
    border-color: rempiVars.$colors-grey-8;
    border-style: solid;

    &:first-child {
      margin-top: 1px;
    }

    &:focus-within {
      outline-color: rempiVars.$colors-info-9;
      outline-style: solid;
      outline-width: rempiVars.$border-widths-1;
      position: relative;
      z-index: 1;

      .rempi-accordion__trigger {
        text-decoration: underline;
      }
    }
  }

  &__header {
    display: flex;
  }

  &__trigger {
    align-items: center;
    background-color: rempiVars.$colors-primary-2;
    color: rempiVars.$colors-grey-12;
    display: flex;
    flex: 1;
    font-size: rempiVars.$font-sizes-5;
    font-weight: rempiVars.$font-weights-4;
    justify-content: space-between;
    line-height: rempiVars.$line-heights-1;
    padding: rempiVars.$spaces-4 rempiVars.$spaces-1 rempiVars.$spaces-4 rempiVars.$spaces-2;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &[data-disabled] {
      color: rempiVars.$colors-grey-8;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__content {
    background-color: rempiVars.$colors-primary-2;
    color: rempiVars.$colors-grey-11;
    font-size: rempiVars.$font-sizes-4;
    font-weight: rempiVars.$font-weights-3 ;
    line-height: rempiVars.$line-heights-2;
    overflow: hidden;

    &[data-state="open"] {
      animation: openning 400ms cubic-bezier(0.87, 0, 0.13, 1);
    }

    &[data-state="closed"] {
      animation: closing 400ms cubic-bezier(0.87, 0, 0.13, 1);
    }

    &__container {
      padding: rempiVars.$spaces-2 rempiVars.$spaces-4 rempiVars.$spaces-4 rempiVars.$spaces-2
    }
  }
}