@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.navigation-menu-header {
  background-color: rempiVars.$colors-primary-1;
  border-bottom: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;
  height: rempiVars.$spaces-13;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    height: rempiVars.$spaces-13;
    justify-content: space-between;
  }

  &__popover {

    &-trigger {
      display: none !important;

      @media (max-width: 768px) {
        display: block !important;
      }
    }

    &-content {
      padding: rempiVars.$spaces-3 0;
    }
  }

  &__menu {
    &--desktop {
      @media (max-width: 768px) {
        display: none;
      }

      justify-content: flex-start;
    }

    &--mobile {

      flex-direction: column;

      .rempi-navigation-menu__list {
        flex-direction: column;
      }
    }
  }
}