@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.rempi-button {
  -webkit-font-smoothing: antialiased;
  align-items: center;
  appearance: none;
  border: none;
  display: inline-flex;
  flex-direction: row;
  font-size: rempiVars.$font-sizes-4;
  justify-content: center;
  line-height: normal;
  min-width: rempiVars.$spaces-18;
  outline: none;
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus-visible, &:focus {
    outline-color: rempiVars.$colors-info-9;
    outline-style: solid;
    outline-width: rempiVars.$border-widths-1;
  }

  &.rempi-button--variant-contained:disabled {
    background-color: rempiVars.$colors-grey-3;

    &,
    * {
      color: rempiVars.$colors-grey-8;
    }
  }

  &.rempi-button--variant-text:disabled {
    background-color: transparent;

    &,
    * {
      color: rempiVars.$colors-grey-8;
    }
  }

  &.rempi-button--variant-outlined:disabled {
    background-color: rempiVars.$colors-grey-2;
    border-color: rempiVars.$colors-grey-7;

    &,
    * {
      color: rempiVars.$colors-grey-8;
    }
  }

  &--is-upercase {
    text-transform: uppercase;
  }

  &--size {
    &-small {
      padding: rempiVars.$spaces-1 rempiVars.$spaces-2;
      font-size: rempiVars.$font-sizes-3;
    }

    &-standard {
      padding: rempiVars.$spaces-2 rempiVars.$spaces-4;
    }

    &-large {
      padding: rempiVars.$spaces-3 rempiVars.$spaces-6;
    }
  }

  &--shape {
    &-flat {
      border-radius: 0;
    }

    &-smoth {
      border-radius: rempiVars.$radiis-1;
    }

    &-rounded {
      border-radius: rempiVars.$radiis-pill;
    }
  }

  &--color {
    &-primary {
      &.rempi-button--variant-contained {
        background-color: rempiVars.$colors-primary-4;

        &,
        * {
          color: rempiVars.$colors-primary-12;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-primary-5;
        }

        &:focus {
          background-color: rempiVars.$colors-primary-6;
        }
      }

      &.rempi-button--variant-outlined {
        background-color: transparent;
        border-width: rempiVars.$border-widths-1;
        border-style: solid;
        border-color: rempiVars.$colors-primary-7;

        &,
        * {
          color: rempiVars.$colors-primary-11;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-primary-4;
          border-color: rempiVars.$colors-primary-8;
        }

        &:focus {
          background-color: rempiVars.$colors-primary-5;
        }
      }

      &.rempi-button--variant-text {
        background-color: transparent;

        &,
        * {
          color: rempiVars.$colors-primary-12;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-primary-4;
        }

        &:focus {
          background-color: rempiVars.$colors-primary-5;
        }
      }
    }

    &-secondary {
      &.rempi-button--variant-contained {
        background-color: rempiVars.$colors-secondary-4;

        &,
        * {
          color: rempiVars.$colors-secondary-12;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-secondary-5;
        }

        &:focus {
          background-color: rempiVars.$colors-secondary-6;
        }
      }

      &.rempi-button--variant-outlined {
        background-color: transparent;
        border-width: rempiVars.$border-widths-1;
        border-style: solid;
        border-color: rempiVars.$colors-secondary-7;

        &,
        * {
          color: rempiVars.$colors-secondary-11;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-secondary-4;
          border-color: rempiVars.$colors-secondary-8;
        }

        &:focus {
          background-color: rempiVars.$colors-secondary-5;
        }
      }

      &.rempi-button--variant-text {
        background-color: transparent;

        &,
        * {
          color: rempiVars.$colors-secondary-11;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-secondary-4;
        }

        &:focus {
          background-color: rempiVars.$colors-secondary-5;
        }
      }
    }

    &-success {
      &.rempi-button--variant-contained {
        background-color: rempiVars.$colors-success-4;

        &,
        * {
          color: rempiVars.$colors-success-12;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-success-5;
        }

        &:focus {
          background-color: rempiVars.$colors-success-6;
        }
      }

      &.rempi-button--variant-outlined {
        background-color: transparent;
        border-width: rempiVars.$border-widths-1;
        border-style: solid;
        border-color: rempiVars.$colors-success-7;

        &,
        * {
          color: rempiVars.$colors-success-11;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-success-4;
          border-color: rempiVars.$colors-success-8;
        }

        &:focus {
          background-color: rempiVars.$colors-success-5;
        }
      }

      &.rempi-button--variant-text {
        background-color: transparent;

        &,
        * {
          color: rempiVars.$colors-success-11;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-success-4;
        }

        &:focus {
          background-color: rempiVars.$colors-success-5;
        }
      }
    }

    &-error {
      &.rempi-button--variant-contained {
        background-color: rempiVars.$colors-error-4;

        &,
        * {
          color: rempiVars.$colors-error-12;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-error-5;
        }

        &:focus {
          background-color: rempiVars.$colors-error-6;
        }
      }

      &.rempi-button--variant-outlined {
        background-color: transparent;
        border-width: rempiVars.$border-widths-1;
        border-style: solid;
        border-color: rempiVars.$colors-error-7;

        &,
        * {
          color: rempiVars.$colors-error-11;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-error-4;
          border-color: rempiVars.$colors-error-8;
        }

        &:focus {
          background-color: rempiVars.$colors-error-5;
        }
      }

      &.rempi-button--variant-text {
        background-color: transparent;

        &,
        * {
          color: rempiVars.$colors-error-11;
        }

        &:hover:enabled {
          background-color: rempiVars.$colors-error-4;
        }

        &:focus {
          background-color: rempiVars.$colors-error-5;
        }
      }
    }
  }
}