@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.home-dashboard {
  border: rempiVars.$border-widths-1 solid rempiVars.$colors-primary-6;
  border-radius: rempiVars.$radiis-2;
  padding: rempiVars.$spaces-4;
}