@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.rempi-combobox {
  &__trigger {
    align-items: center;
    background-color: transparent;
    border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-9;
    border-radius: rempiVars.$radiis-2;
    color: rempiVars.$colors-grey-11;
    display: inline-flex;
    font-size: rempiVars.$font-sizes-4;
    gap: rempiVars.$spaces-1;
    justify-content: space-between;
    min-width: calc(rempiVars.$spaces-18 * 1.5);
    line-height: rempiVars.$line-heights-1;
    padding: rempiVars.$spaces-2 rempiVars.$spaces-2 rempiVars.$spaces-2 rempiVars.$spaces-4;

    &:hover {
      cursor: pointer;

      &[data-disabled] {
        cursor: not-allowed;
      }
    }

    &[data-disabled] {
      background-color: rempiVars.$colors-grey-2;
      border-color: rempiVars.$colors-grey-7;
      color: rempiVars.$colors-grey-8;

      .rempi-select__icon {
        color: rempiVars.$colors-grey-8;
      }
    }

    &[data-placeholder] {
      color: rempiVars.$colors-grey-9;

      &[data-disabled] {
        color: rempiVars.$colors-grey-8;
      }
    }

    &:focus-visible,
    &:focus {
      outline-color: rempiVars.$colors-info-9;
      outline-style: solid;
      outline-width: rempiVars.$border-widths-1;
    }
  }

  &__label {
    padding-left: rempiVars.$spaces-4;
    margin-bottom: rempiVars.$spaces-2;

    &,
    * {
      color: rempiVars.$colors-grey-11;
      font-size: rempiVars.$font-sizes-2;
      line-height: rempiVars.$line-heights-2;
    }
  }

  &__separator {
    margin: rempiVars.$spaces-1 0;
  }

  &__content {
    background-color: rempiVars.$colors-grey-2;
    border: rempiVars.$border-widths-1 solid rempiVars.$colors-grey-6;
    border-radius: rempiVars.$radiis-2;
    box-shadow: rempiVars.$shadows-1;
    max-height: var(--radix-popover-content-available-height);
    min-width: 220px;
    overflow: auto;
    padding: rempiVars.$spaces-2;

    &--condensed {
      .rempi-combobox__item {
        height: rempiVars.$spaces-7;
      }
    }
  }

  &__value {
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__empty {
    color: rempiVars.$colors-grey-11;
    font-size: rempiVars.$font-sizes-4;
    line-height: rempiVars.$line-heights-2;
    margin: 0 auto;
    padding: rempiVars.$spaces-6;
    text-align: center;
  }

  &__item {
    align-items: center;
    border-radius: rempiVars.$radiis-1;
    color: rempiVars.$colors-grey-11;
    display: flex;
    font-size: rempiVars.$font-sizes-3;
    height: rempiVars.$spaces-9;
    line-height: rempiVars.$line-heights-2;
    outline: none;
    padding: 0 rempiVars.$spaces-1 0 rempiVars.$spaces-6;
    position: relative;
    user-select: none;
    transition: background-color 200ms ease,
      color 200ms ease;

    &[data-disabled] {
      color: rempiVars.$colors-grey-8;
      pointer-events: 'none';

      svg {
        stroke: rempiVars.$colors-grey-8;
      }
    }

    &[data-highlighted] {
      background-color: rempiVars.$colors-grey-12;
      color: rempiVars.$colors-grey-1;

      svg {
        stroke: rempiVars.$colors-grey-1;
      }
    }

    &-indicator {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      left: 0;
      position: absolute;
      width: rempiVars.$spaces-6;

      svg {
        stroke: rempiVars.$colors-grey-11;
        stroke-width: 3;
      }
    }
  }

  &__icon {
    align-items: center;
    color: rempiVars.$colors-grey-11;
    display: inline-flex;
    justify-content: center;
  }

  &__input {

    &-search {
      max-width: inherit;
      padding-right: rempiVars.$spaces-10;
    }

    &-search-wrapper {
      position: relative;
      margin-bottom: rempiVars.$spaces-2;
    }

    &-search-icon {
      position: absolute;
      right: rempiVars.$spaces-2;
      top: 50%;
      transform: translateY(-50%);
      color: rempiVars.$colors-grey-11;
    }
  }
}