@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.rempi-toggle {

  &__root {
    align-items: center;
    background-color: transparent;
    border-color: rempiVars.$colors-grey-11;
    border-radius: rempiVars.$radiis-1;
    border-style: solid;
    border-width: rempiVars.$border-widths-1;
    color: rempiVars.$colors-grey-11;
    cursor: pointer;
    display: flex;
    font-size: rempiVars.$font-sizes-4;
    justify-content: center;
    line-height: rempiVars.$line-heights-1;
    padding: rempiVars.$spaces-2;

    &:hover {
      background-color: rempiVars.$colors-grey-2;
    }

    &:focus-visible,
    &:focus {
      outline-color: rempiVars.$colors-info-9;
      outline-style: solid;
      outline-width: rempiVars.$border-widths-1;
    }

    &[data-state="on"] {
      background-color: rempiVars.$colors-grey-4;
      border-color: rempiVars.$colors-grey-12;
      color: rempiVars.$colors-grey-12;
    }

    &[data-disabled] {
      color: rempiVars.$colors-grey-6;
      border-color: rempiVars.$colors-grey-8;
      cursor: not-allowed;

      &[data-state="on"] {
        background-color: rempiVars.$colors-grey-3;
        color: rempiVars.$colors-grey-10;
      }
    }
  }

}