@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.rempi-switch {

  &__root {
    background-color: rempiVars.$colors-grey-3;
    border-color: rempiVars.$colors-grey-7;
    border-radius: rempiVars.$radiis-pill;
    border-style: solid;
    border-width: rempiVars.$border-widths-1;
    box-sizing: border-box;
    cursor: pointer;
    height: rempiVars.$spaces-6;
    position: relative;
    transition: background-color 200ms ease;
    width: rempiVars.$spaces-11;

    &:focus,
    &:focus-visible {
      outline-color: rempiVars.$colors-info-9;
      outline-style: solid;
      outline-width: rempiVars.$border-widths-1;
    }

    &[data-state="checked"] {
      background-color: rempiVars.$colors-primary-8;
    }

    &[data-disabled] {
      border-color: rempiVars.$colors-grey-6;
      cursor: not-allowed;
      background-color: rempiVars.$colors-grey-3;

      &[data-state="checked"] {
        background-color: rempiVars.$colors-primary-5;
      }
    }
  }

  &__thumb {
    display: block;
    background-color: rempiVars.$colors-primary-9;
    border-radius: rempiVars.$radiis-pill;
    height: calc(rempiVars.$spaces-5 - rempiVars.$spaces-1 / 2);
    transform: translateX(2px);
    transition: transform 200ms ease, background-color 200ms ease;
    width: calc(rempiVars.$spaces-5 - rempiVars.$spaces-1 / 2);
    will-change: transform;

    &[data-disabled] {
      background-color: rempiVars.$colors-primary-7;
    }

    &[data-state="checked"] {
      transform: translateX(calc(rempiVars.$spaces-5 + rempiVars.$spaces-1 / 2));
      background-color: rempiVars.$colors-primary-11;

      &[data-disabled] {
        background-color: rempiVars.$colors-primary-8;
      }
    }

  }
}