$colors-primary-1: var(--colors-primary1);
$colors-primary-2: var(--colors-primary2);
$colors-primary-3: var(--colors-primary3);
$colors-primary-4: var(--colors-primary4);
$colors-primary-5: var(--colors-primary5);
$colors-primary-6: var(--colors-primary6);
$colors-primary-7: var(--colors-primary7);
$colors-primary-8: var(--colors-primary8);
$colors-primary-9: var(--colors-primary9);
$colors-primary-10: var(--colors-primary10);
$colors-primary-11: var(--colors-primary11);
$colors-primary-12: var(--colors-primary12);
$colors-secondary-1: var(--colors-secondary1);
$colors-secondary-2: var(--colors-secondary2);
$colors-secondary-3: var(--colors-secondary3);
$colors-secondary-4: var(--colors-secondary4);
$colors-secondary-5: var(--colors-secondary5);
$colors-secondary-6: var(--colors-secondary6);
$colors-secondary-7: var(--colors-secondary7);
$colors-secondary-8: var(--colors-secondary8);
$colors-secondary-9: var(--colors-secondary9);
$colors-secondary-10: var(--colors-secondary10);
$colors-secondary-11: var(--colors-secondary11);
$colors-secondary-12: var(--colors-secondary12);
$colors-error-1: var(--colors-error1);
$colors-error-2: var(--colors-error2);
$colors-error-3: var(--colors-error3);
$colors-error-4: var(--colors-error4);
$colors-error-5: var(--colors-error5);
$colors-error-6: var(--colors-error6);
$colors-error-7: var(--colors-error7);
$colors-error-8: var(--colors-error8);
$colors-error-9: var(--colors-error9);
$colors-error-10: var(--colors-error10);
$colors-error-11: var(--colors-error11);
$colors-error-12: var(--colors-error12);
$colors-success-1: var(--colors-success1);
$colors-success-2: var(--colors-success2);
$colors-success-3: var(--colors-success3);
$colors-success-4: var(--colors-success4);
$colors-success-5: var(--colors-success5);
$colors-success-6: var(--colors-success6);
$colors-success-7: var(--colors-success7);
$colors-success-8: var(--colors-success8);
$colors-success-9: var(--colors-success9);
$colors-success-10: var(--colors-success10);
$colors-success-11: var(--colors-success11);
$colors-success-12: var(--colors-success12);
$colors-warning-1: var(--colors-warning1);
$colors-warning-2: var(--colors-warning2);
$colors-warning-3: var(--colors-warning3);
$colors-warning-4: var(--colors-warning4);
$colors-warning-5: var(--colors-warning5);
$colors-warning-6: var(--colors-warning6);
$colors-warning-7: var(--colors-warning7);
$colors-warning-8: var(--colors-warning8);
$colors-warning-9: var(--colors-warning9);
$colors-warning-10: var(--colors-warning10);
$colors-warning-11: var(--colors-warning11);
$colors-warning-12: var(--colors-warning12);
$colors-info-1: var(--colors-info1);
$colors-info-2: var(--colors-info2);
$colors-info-3: var(--colors-info3);
$colors-info-4: var(--colors-info4);
$colors-info-5: var(--colors-info5);
$colors-info-6: var(--colors-info6);
$colors-info-7: var(--colors-info7);
$colors-info-8: var(--colors-info8);
$colors-info-9: var(--colors-info9);
$colors-info-10: var(--colors-info10);
$colors-info-11: var(--colors-info11);
$colors-info-12: var(--colors-info12);
$colors-black-1: var(--colors-black1);
$colors-black-2: var(--colors-black2);
$colors-black-3: var(--colors-black3);
$colors-black-4: var(--colors-black4);
$colors-black-5: var(--colors-black5);
$colors-black-6: var(--colors-black6);
$colors-black-7: var(--colors-black7);
$colors-black-8: var(--colors-black8);
$colors-black-9: var(--colors-black9);
$colors-black-10: var(--colors-black10);
$colors-black-11: var(--colors-black11);
$colors-black-12: var(--colors-black12);
$colors-white-1: var(--colors-white1);
$colors-white-2: var(--colors-white2);
$colors-white-3: var(--colors-white3);
$colors-white-4: var(--colors-white4);
$colors-white-5: var(--colors-white5);
$colors-white-6: var(--colors-white6);
$colors-white-7: var(--colors-white7);
$colors-white-8: var(--colors-white8);
$colors-white-9: var(--colors-white9);
$colors-white-10: var(--colors-white10);
$colors-white-11: var(--colors-white11);
$colors-white-12: var(--colors-white12);
$colors-grey-1: var(--colors-grey1);
$colors-grey-2: var(--colors-grey2);
$colors-grey-3: var(--colors-grey3);
$colors-grey-4: var(--colors-grey4);
$colors-grey-5: var(--colors-grey5);
$colors-grey-6: var(--colors-grey6);
$colors-grey-7: var(--colors-grey7);
$colors-grey-8: var(--colors-grey8);
$colors-grey-9: var(--colors-grey9);
$colors-grey-10: var(--colors-grey10);
$colors-grey-11: var(--colors-grey11);
$colors-grey-12: var(--colors-grey12);