$accent: #6D87A7;

$colors-primary1: var(--colors-primary1);
$colors-primary2: var(--colors-primary2);
$colors-primary3: var(--colors-primary3);
$colors-primary4: var(--colors-primary4);
$colors-primary5: var(--colors-primary5);
$colors-primary6: var(--colors-primary6);
$colors-primary7: var(--colors-primary7);
$colors-primary8: var(--colors-primary8);
$colors-primary9: var(--colors-primary9);
$colors-primary10: var(--colors-primary10);
$colors-primary11: var(--colors-primary11);
$colors-primary12: var(--colors-primary12);
$colors-secondary1: var(--colors-secondary1);
$colors-secondary2: var(--colors-secondary2);
$colors-secondary3: var(--colors-secondary3);
$colors-secondary4: var(--colors-secondary4);
$colors-secondary5: var(--colors-secondary5);
$colors-secondary6: var(--colors-secondary6);
$colors-secondary7: var(--colors-secondary7);
$colors-secondary8: var(--colors-secondary8);
$colors-secondary9: var(--colors-secondary9);
$colors-secondary10: var(--colors-secondary10);
$colors-secondary11: var(--colors-secondary11);
$colors-secondary12: var(--colors-secondary12);
$colors-error1: var(--colors-error1);
$colors-error2: var(--colors-error2);
$colors-error3: var(--colors-error3);
$colors-error4: var(--colors-error4);
$colors-error5: var(--colors-error5);
$colors-error6: var(--colors-error6);
$colors-error7: var(--colors-error7);
$colors-error8: var(--colors-error8);
$colors-error9: var(--colors-error9);
$colors-error10: var(--colors-error10);
$colors-error11: var(--colors-error11);
$colors-error12: var(--colors-error12);
$colors-success1: var(--colors-success1);
$colors-success2: var(--colors-success2);
$colors-success3: var(--colors-success3);
$colors-success4: var(--colors-success4);
$colors-success5: var(--colors-success5);
$colors-success6: var(--colors-success6);
$colors-success7: var(--colors-success7);
$colors-success8: var(--colors-success8);
$colors-success9: var(--colors-success9);
$colors-success10: var(--colors-success10);
$colors-success11: var(--colors-success11);
$colors-success12: var(--colors-success12);
$colors-warning1: var(--colors-warning1);
$colors-warning2: var(--colors-warning2);
$colors-warning3: var(--colors-warning3);
$colors-warning4: var(--colors-warning4);
$colors-warning5: var(--colors-warning5);
$colors-warning6: var(--colors-warning6);
$colors-warning7: var(--colors-warning7);
$colors-warning8: var(--colors-warning8);
$colors-warning9: var(--colors-warning9);
$colors-warning10: var(--colors-warning10);
$colors-warning11: var(--colors-warning11);
$colors-warning12: var(--colors-warning12);
$colors-info1: var(--colors-info1);
$colors-info2: var(--colors-info2);
$colors-info3: var(--colors-info3);
$colors-info4: var(--colors-info4);
$colors-info5: var(--colors-info5);
$colors-info6: var(--colors-info6);
$colors-info7: var(--colors-info7);
$colors-info8: var(--colors-info8);
$colors-info9: var(--colors-info9);
$colors-info10: var(--colors-info10);
$colors-info11: var(--colors-info11);
$colors-info12: var(--colors-info12);