$font-weights-1: var(--font-weights-1);
$font-weights-2: var(--font-weights-2);
$font-weights-3: var(--font-weights-3);
$font-weights-4: var(--font-weights-4);
$font-weights-5: var(--font-weights-5);
$font-weights-6: var(--font-weights-6);