$font-sizes-1: var(--font-sizes-1);
$font-sizes-2: var(--font-sizes-2);
$font-sizes-3: var(--font-sizes-3);
$font-sizes-4: var(--font-sizes-4);
$font-sizes-5: var(--font-sizes-5);
$font-sizes-6: var(--font-sizes-6);
$font-sizes-7: var(--font-sizes-7);
$font-sizes-8: var(--font-sizes-8);
$font-sizes-9: var(--font-sizes-9);
$font-sizes-10:var(--font-sizes-10);
$font-sizes-11:var(--font-sizes-11);
$font-sizes-12:var(--font-sizes-12);