$spaces-0: var(--spaces-0);
$spaces-1: var(--spaces-1);
$spaces-2: var(--spaces-2);
$spaces-3: var(--spaces-3);
$spaces-4: var(--spaces-4);
$spaces-5: var(--spaces-5);
$spaces-6: var(--spaces-6);
$spaces-7: var(--spaces-7);
$spaces-8: var(--spaces-8);
$spaces-9: var(--spaces-9);
$spaces-10:var(--spaces-10);
$spaces-11:var(--spaces-11);
$spaces-12:var(--spaces-12);
$spaces-13:var(--spaces-13);
$spaces-14:var(--spaces-14);
$spaces-15:var(--spaces-15);
$spaces-16:var(--spaces-16);
$spaces-17:var(--spaces-17);
$spaces-18:var(--spaces-18);