$z-indices-1: var(--z-indices-1);
$z-indices-2: var(--z-indices-2);
$z-indices-3: var(--z-indices-3);
$z-indices-4: var(--z-indices-4);
$z-indices-5: var(--z-indices-5);
$z-indices-6: var(--z-indices-6);
$z-indices-7: var(--z-indices-7);
$z-indices-8: var(--z-indices-8);
$z-indices-9: var(--z-indices-9);
$z-indices-10: var(--z-indices-10);
$z-indices-11: var(--z-indices-11);
$z-indices-12: var(--z-indices-12);