@use '@rempi-ui/core/src/config/rempi-variables' as rempiVars;

.rempi-checkbox {

  &__indicator {
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }

  &__check {
    align-items: center;
    background-color: transparent;
    border-color: rempiVars.$colors-primary-11;
    border-radius: rempiVars.$radiis-1;
    border-width: rempiVars.$border-widths-1;
    border-style: solid;
    cursor: pointer;
    display: inline-flex;
    height: calc(rempiVars.$spaces-4 + calc(rempiVars.$spaces-1 / 2));
    justify-content: center;
    line-height: 1;
    transition: background-color 300ms ease, border-color 300ms ease;
    width: calc(rempiVars.$spaces-4 + calc(rempiVars.$spaces-1 / 2));

    &:focus,
    &:focus-visible {
      outline-color: rempiVars.$colors-info-9;
      outline-offset: 1px;
      outline-style: solid;
      outline-width: rempiVars.$border-widths-1;
      z-index: 1;
    }

    &[data-state="checked"] {
      border-color: rempiVars.$colors-primary-12;
    }

    &[data-disabled] {
      cursor: not-allowed;
      background-color: transparent;
      border-color: rempiVars.$colors-grey-8;

      &[data-state="checked"] {
        border-color: rempiVars.$colors-grey-8;

        svg {
          stroke: rempiVars.$colors-grey-8;
        }
      }
    }

    svg {
      stroke-width: 3;
      stroke: rempiVars.$colors-primary-12;
    }
  }
}